<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>

  <!--  Main Css  -->
  <link rel="stylesheet" href="../../style/main.css">

  <!--  Font Awesome  -->
  <script src="https://kit.fontawesome.com/fc38f96ac0.js"></script>

</head>
<body>

  <!--  Header  -->
  <header>
    <a href="/">Account Book</a>
  </header>

  {{{  body  }}}
  
  <!--  Main Js  -->
  <script src="../../js/main.js"></script>

</body>
</html>