<form action="/list/edit" method="POST">
  <input type="text" name="name">
  <input type="date" name="date">
  <select name="category">
    <option value="food">飲食</option>
    <option value="live">住宿</option>
    <option value="traffic">交通</option>
    <option value="entertainment">娛樂</option>
    <option value="others">其他</option>
  </select>
  <input type="number" name="amount">
  <input type="submit" value="確認">
</form>
<a href="/">返回</a>
