<section class="list">
  <div class="total">NT : 3000</div>
    <a href="/list/new" class="new">+</a>
  <select name="filter">
    <option value="all">全部</option>
    <option value="home">住宿</option>
    <option value="traffic">交通</option>
    <option value="entertainment">娛樂</option>
    <option value="food">飲食</option>
    <option value="other">其他</option>
  </select>
  <div class="container">
    {{#each record}}
    <div class="group">
      <div class="category"><i class="{{  category  }}"></i></div>
      <div class="name">{{  name  }}</div>
      <div class="date">{{  date  }}</div>
      <div class="amount">${{  amount  }}</div>
      <form action="/list/edit" class="btn">
        <button><i class="fas fa-edit"></i></button>
        <button formaction="/list/delete" formmethod="POST" id="delete"><i class="fas fa-trash-alt"></i></button>
      </form>
    </div>
    {{/each}}
  </div>
</section>
