<div class="totalAmount">$ 800</div>
<form action="/list/new">
  <input type="submit" value="New +">
</form>

<div>早餐</div>
<div>2021-01-13</div>
<div>飲食</div>
<div>3000</div>
<form action="/list/edit">
  <button type="submit">1</button>
</form>